@media (prefers-color-scheme: light) {
    :root{
        --headerBackgroundColor: #DDDDDD66;
        --fontColor: #333333;
        --highlightColor: #FF9900;
        --mainBackgroundColor: #FFFFFF;
        --contentBackgroundColor: #DDDDDD;
    }
    
}
  
@media (prefers-color-scheme: dark) {
    :root{
        --headerBackgroundColor: #66666666;
        --fontColor: #DDDDDD;
        --highlightColor: #0099FF;
        --mainBackgroundColor: #333333;
        --contentBackgroundColor: #555555;
    }
}