:root{
    /* for mobile */
    --contentWidthSmall: 600px;
    /* for desktop */
    --contentWidthLarge: 1000px;
    
    --cardWidth: 250px;
    --contentSpace: 15px;
    --contentMargin: 15px;
}

@media only screen and (max-width: 900px) {
    #content{
        display: unset !important;
        grid-template-columns: unset !important;
        grid-template-rows: auto !important;
        overflow-y: scroll;
    }

    #content>*{
        grid-column: unset !important;
        grid-row: unset !important;
        position: unset !important;
        left: unset !important;
        top: unset !important;
        transform: none !important;
        width: min(var(--contentWidthSmall) - var(--cardWidth) - 2 * var(--contentMargin), calc(100vw - 2 * var(--contentMargin))) !important;
    }

    #contentCard{
        margin-top: var(--contentMargin);
        margin-bottom: var(--contentMargin);
    }
}

#content{
    display: grid;
    grid-template-columns: min(calc(var(--contentWidthLarge) - var(--cardWidth) - var(--contentSpace) - 2 * var(--contentMargin)), 100vw - var(--cardWidth) - var(--contentSpace) - 2 * var(--contentMargin)) var(--cardWidth);
    grid-template-rows: auto 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    width: unset;
    height: 100%;
    transform: translate(-50%, -50%);
    gap: var(--contentSpace);
    box-sizing: border-box;
    padding-left: var(--contentMargin);
    padding-right: var(--contentMargin);
    padding-top: var(--contentMargin);
    scrollbar-width: none;
}

#content::-webkit-scrollbar{
    display: none;
}

#contentTitle{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-weight: bolder;
    text-decoration: underline;
}

#contentCard{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

#contentText{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: justify;
    overflow-y: scroll;
    scrollbar-width: none;
}

#contentText::-webkit-scrollbar{
    display: none;
}

.table{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: var(--contentMargin);
    margin-bottom: var(--contentMargin);
}

.table>*{
    background-color: var(--contentBackgroundColor);
    box-sizing: border-box;
}

.table>*:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.table>*:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table>*>*{
    border-right: 1px solid var(--fontColor);
    border-bottom: 1px solid var(--fontColor);
    box-sizing: border-box;
    width: 100%;
}

.table>*>*{
    padding-left: 5px;
    padding-right: 5px;
}

.table>*>*:last-child{
    border-right: none;
}

.table>*:first-child>*{
    padding-top: 5px;
}

.table>*:last-child>*{
    border-bottom: none;
    padding-bottom: 5px;
}

#contentText>aside{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#contentText>aside:first-child{
    margin-bottom: var(--contentMargin);
}

#contentText>aside:last-child{
    margin-top: var(--contentMargin);
    margin-bottom: 5px;
}

#contentText>aside>*{
    background-color: var(--contentBackgroundColor);
    padding-left: 5px;
    border-radius: 5px;
}

#contentText>aside>*:hover{
    background-color: var(--highlightColor);
    cursor: pointer;
}

#contentText>img{
    display: block;
    max-width: var(--cardWidth);
    background-color: var(--contentBackgroundColor);
    border-radius: 5px;
    margin: auto;
}

#contentCard:not()>.table>*>img{
    max-width: var(--cardWidth);
}

#contentImage{
    z-index: -1;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: var(--contentBackgroundColor);
    box-sizing: border-box;
    padding: var(--contentMargin);
}
