:root{
    --contentWidth: 1000px;
    --cardWidth: 300px;
    --contentSpace: 15px;
    --contentMargin: 15px;
}

@media only screen and (max-width: 900px) {
    #content{
        display: unset !important;
        grid-template-columns: unset !important;
        grid-template-rows: auto !important;
    }

    #content>*{
        grid-column: unset !important;
        grid-row: unset !important;
        position: unset !important;
        left: unset !important;
        top: unset !important;
        transform: none !important;
        width: calc(100vw - var(--contentMargin)) !important;
    }
}

#content{
    display: grid;
    grid-template-columns: min(calc(var(--contentWidth) - var(--cardWidth) - var(--contentSpace) - 2 * var(--contentMargin)), 100vw - var(--cardWidth) - var(--contentSpace) - 2 * var(--contentMargin)) var(--cardWidth);
    grid-template-rows: auto 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    width: unset;
    height: 100%;
    transform: translate(-50%, -50%);
    gap: var(--contentSpace);
}

#contentTitle{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#contentCard{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--contentBackgroundColor);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

#contentText{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
